/*** GENERAL ***/
body {
    color: #222222;
    background-color: #F1F1F1;
}

a, a:hover, a:visited {
    color: #000;
}

.bouton {
	background-color: #000;
    color: #fff;
    border: none;
}
.bouton:hover {
	background-color: #222222;
    color: #F1F1F1;
}

#main ul#links li a.current {
    background-color: #000;
    color: #fff;
}

#links a:hover, .backhome a:hover{
    background-color: #040707;
    color: #F1F1F1;
}

input[type=submit].delete {
    background : url('../img/light/remove.png') no-repeat center center;
    color : transparent;
}

#main .entrie {
    color: #2e2e2e;
    background-color: #ffffff;
    border: 1px solid #000;
}

#main .entrie h2 a:hover {
    color: #F5BE00;
}

a.fav span {
    background: url('../img/light/star-on.png') no-repeat;
}

a.fav span:hover {
    background: url('../img/light/star-off.png') no-repeat;
}

a.fav-off span {
    background: url('../img/light/star-off.png') no-repeat;
}

a.fav-off span:hover {
    background: url('../img/light/star-on.png') no-repeat;
}

a.archive span {
    background: url('../img/light/checkmark-on.png') no-repeat;
}

a.archive span:hover {
    background: url('../img/light/checkmark-off.png') no-repeat;
}

a.archive-off span {
    background: url('../img/light/checkmark-off.png') no-repeat;
}

a.archive-off span:hover {
    background: url('../img/light/checkmark-on.png') no-repeat;
}

/*** ***/
/*** ARTICLE PAGE ***/

body.article {
	color: #222222;
    background-color: #F1F1F1;
}

#article header {
    border-bottom: 1px solid #222222;
}

#article article {
    border-bottom: 1px solid #222222;
}

.vieworiginal a {
    color: #888888;
}

.entrie {
    background-color: #fff;
}
