/*** GENERAL ***/
body {
    font: 20px/1.3em Palatino,Georgia,serif;
    margin: 10px;
}

header {
    text-align: center;
}

.bouton {
	border-radius: 2px;
}

#main ul#links {
    padding: 0;
    list-style-type: none;
    text-align: center;
}

#main ul#links li {
    display: inline;
}

#main ul#links li a.current {
    -webkit-border-radius: 2px;
    border-radius: 2px;
}

#main ul#sort {
    padding: 0;
    list-style-type: none;
    text-align: center;
}

#main ul#sort li {
    display: inline;
    font-size: 0.9em;
}

#main ul#sort img:hover {
    cursor: pointer;
}

#main, #article {
    margin: 0 auto;
}

#links a, .backhome a{
    text-decoration: none;
    padding: 5px 10px;
}
#links a:hover, .backhome a:hover{
    -webkit-border-radius: 2px;
    border-radius: 2px;
}

footer {
    text-align: right;
}

/*** ***/
/*** LINKS DISPLAY ***/

#main a.tool {
    text-decoration: none;
    cursor: pointer;
}

input[type=submit].delete {
    width : 16px;
    height :16px;
    border : none;
    cursor: pointer;
    font-size : 0;
}

#main #content {
    margin-top: 20px;
}

#main .entrie {
    padding: 15px;
    min-height: 8em;
    border: 1px solid;
}

#main .entrie h2 a {
    text-decoration: none;
}

.tools {
    text-align: right;
}

.tools ul {
    padding: 0; margin: 0;
    list-style-type: none;
}

.tools ul li {
    line-height: 20px;
}

.tools a.tool {
    cursor: pointer;
}

#article .tools {
    position: relative;
    display: inline;
    top: 0px;
    right: 0px;
    width: 100%;
    text-align: left;
}

#article .tools ul li{
    display: inline;
}

#main .entrie .tools a.tool span, #article .tools a.tool span {
    display: inline-block;
    width: 16px;
    height: 16px;
}


/*** ***/
/*** ARTICLE PAGE ***/

body.article {
    font: 20px/1.3em Palatino,Georgia,serif;
}

#article header {
    text-align: left;
}

#article header a {
    text-decoration: none;
}

.vieworiginal a {
    text-decoration: none;
}

.backhome {
    display: inline;
}

/*** ***/

#main
{
    max-width: 60em; /* 960 px */
    margin: 0 auto;
}
#content
{
    width: 103.125%; /* 990px */
    overflow: hidden;
    margin-left: -1.562%; /* 15px */
    margin-bottom: -1.875em; /* 30px */
}

.entrie
{
    width: 30.303%; /* 300px */
    background-color: #fff;
    float: left;
    margin: 0 1.515% 1.875em; /* 15px 30px */
}

@media only screen and ( max-width: 40em ) /* 640px */
{
    .entrie
    {
        width: 46.876%; /* 305px */
        margin-bottom: 0.938em; /* 15px */
    }
}

@media only screen and ( max-width: 20em ) /* 320px */
{
    #content
    {
        width: 100%;
        margin-left: 0;
    }

    .entrie
    {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }
}

/*** ***/
/*** MESSAGES ***/

.messages { width: 100%; -moz-border-radius: 4px; border-radius: 4px; display: block; padding: 10px 0; margin: 10px auto 10px; clear: both; }
.messages a.closeMessage { margin: -14px -8px 0 0; display:none; width: 16px; height: 16px; float: right; background: url(../img/messages/close.png) no-repeat; }
/*.messages:hover a.closeMessage { visibility:visible; }*/
.messages p { margin: 3px 0 3px 10px !important; padding: 0 10px 0 23px !important; font-size: 14px; line-height: 16px; }
.messages.error { border: 1px solid #C42608; color: #c00 !important; background: #FFF0EF; }
.messages.error p { background: url(../img/messages/cross.png ) no-repeat 0px 50%; color:#c00 !important; }
.messages.success {background: #E0FBCC; border: 1px solid #6DC70C; }
.messages.success p { background: url(../img/messages/tick.png) no-repeat 0px 50%; color: #2B6301 !important; }
.messages.warning { background: #FFFCD3; border: 1px solid #EBCD41; color: #000; }
.messages.warning p { background: url(../img/messages/warning.png ) no-repeat 0px 50%; color: #5F4E01; }
.messages.information, .messages.info { background: #DFEBFB; border: 1px solid #82AEE7; }
.messages.information p, .messages.info p { background: url(../img/messages/help.png ) no-repeat 0px 50%; color: #064393; }
.messages.information a { text-decoration: underline; }
