{% extends "WallabagCoreBundle::layout.html.twig" %}
{% block title %}{% trans %}Import{% endtrans %}{% endblock %}

{% block content %}
<div class="row">
    <div class="col s12">
        <div class="card-panel settings">
            {% trans %}Welcome to wallabag importer. Please select your previous service that you want to migrate.{% endtrans %}
            <ul>
                {% for import in imports %}
                    <li>
                        <h5>{{ import.name }}</h5>
                        <blockquote>{{ import.description|trans }}</blockquote>
                        <p><a class="waves-effect waves-light btn" href="{{ path(import.url) }}">{% trans %}Import contents{% endtrans %}</a></p>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}
