{% extends "WallabagCoreBundle::layout.html.twig" %}
{% block title %}{% trans %}import{% endtrans %}{% endblock %}

{% block content %}

<div class="row">
    <div class="col s12">
        <div class="card-panel settings">
            {% trans %}Welcome on wallabag importer. Please select your previous service that you want to migrate.{% endtrans %}
            <ul>
                <li><a href="{{ path('import_pocket') }}">Pocket</a></li>
                <li><a href="{{ path('import_wallabag_v1') }}">Wallabag v1</a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}
