{% extends "WallabagCoreBundle::layout.html.twig" %}

{% block title %}{% trans %}About{% endtrans %}{% endblock %}

{% block content %}
    <h2>{% trans %}About wallabag{% endtrans %}</h2>

    <dl>
        <dt>{% trans %}Project website{% endtrans %}</dt>
        <dd><a href="https://www.wallabag.org">https://www.wallabag.org</a></dd>

        <dt>{% trans %}Main developer{% endtrans %}</dt>
        <dd><a href="mailto:nicolas@loeuillet.org">Nicolas Lœuillet</a> — <a href="http://cdetc.fr">{% trans %}website{% endtrans %}</a></dd>

        <dt>{% trans %}Contributors ♥:{% endtrans %}</dt>
        <dd><a href="https://github.com/wallabag/wallabag/graphs/contributors">{% trans %}on Github{% endtrans %}</a></dd>

        <dt>{% trans %}Bug reports{% endtrans %}</dt>
        <dd><a href="https://support.wallabag.org">{% trans %}On our support website{% endtrans %}</a> {% trans %}or{% endtrans %} <a href="https://github.com/wallabag/wallabag/issues">{% trans %}on Github{% endtrans %}</a></dd>

        <dt>{% trans %}License{% endtrans %}</dt>
        <dd><a href="http://en.wikipedia.org/wiki/MIT_License">MIT</a></dd>

        <dt>{% trans %}Version{% endtrans %}</dt>
        <dd>{{ version }}</dd>
    </dl>

    <p>{% trans %}wallabag is a read-it-later application: you can save a web page by keeping only content. Elements like ads or menus are deleted.{% endtrans %}</p>

    <h2>{% trans %}Getting help{% endtrans %}</h2>

    <dl>
        <dt>{% trans %}Documentation{% endtrans %}</dt>
        <dd><a href="https://doc.wallabag.org/">Online documentation</a></dd>

        <dt>{% trans %}Support{% endtrans %}</dt>
        <dd><a href="http://support.wallabag.org/">http://support.wallabag.org/</a></dd>
    </dl>

    <h2>{% trans %}Helping wallabag{% endtrans %}</h2>

    <p>{% trans %}wallabag is free and opensource. You can help us:{% endtrans %}</p>

    <dl>
        <dt><a href="{{ paypal_url }}">{% trans %}via Paypal{% endtrans %}</a></dt>

        <dt><a href="{{ flattr_url }}">{% trans %}via Flattr{% endtrans %}</a></dt>
    </dl>
{% endblock %}
