{% trans_default_domain 'FOSUserBundle' %}

{{ form_start(form, {'action': path('fos_user_change_password'), 'attr': {'class': 'fos_user_change_password'}}) }}
    <div class="card-content">
        <div class="row">
            {{ form_widget(form) }}
            <div>
                <input type="submit" value="{{ 'change_password.submit'|trans }}" />
            </div>
        </div>
    </div>
</form>
