.dark-theme {
  body,
  main #content,
  #article,
  .card,
  .card-panel,
  .card .card-reveal,
  .card-stacked .preview:not(.preview--default),
  .card .preview:not(.preview--default),
  .collapsible-header,
  .collection,
  .dropdown-content,
  .nav-panel-add,
  .nav-panel-search,
  .side-nav,
  .side-nav .collapsible-body,
  .side-nav.fixed .collapsible-body,
  .tabs {
    background-color: #121212;
  }

  .cyan,
  .cyan.darken-1,
  .cyan.darken-2 {
    background-color: rgba(255, 255, 255, 0.05) !important;
  }

  .dropdown-content li {
    background-color: rgba(255, 255, 255, 0.07);
  }

  .dropdown-content li:hover,
  .dropdown-content li.active,
  .dropdown-content li.selected {
    background-color: rgba(255, 255, 255, 0.11);
  }

  .dropdown-content li > a {
    color: #dfdfdf;
  }

  .dropdown-content li.divider {
    background-color: rgba(255, 255, 255, 0.16);
  }

  .collection {
    border: 0;
  }

  .collection .collection-item {
    background-color: rgba(255, 255, 255, 0.05);
    margin-top: 4px;
    margin-bottom: 4px;
    border: 0;
  }

  .collection li.collection-item:hover {
    background-color: rgba(255, 255, 255, 0.09);
  }

  main #content,
  #article article,
  #article article h1,
  #article article h2,
  #article article h3,
  #article article h4,
  #article article h5,
  #article article h6,
  .results a,
  .side-nav li > a,
  .side-nav li > a > i.material-icons {
    color: #dfdfdf;
  }

  .grey-text.text-darken-4 {
    color: #dfdfdf !important;
  }

  #article li.chip {
    background-color: rgba(255, 255, 255, 0.11);
  }

  .side-nav li.active {
    background-color: rgba(255, 255, 255, 0.12);
  }

  .side-nav li:not(.logo) > a:hover,
  .side-nav .collapsible-header:hover,
  .side-nav.fixed .collapsible-header:hover {
    background-color: rgba(255, 255, 255, 0.04);
  }

  #article {
    background-color: rgba(255, 255, 255, 0.05);
    box-shadow: 0 0 10px #1d1d1d;
  }

  .card {
    background-color: rgba(255, 255, 255, 0.05);
  }

  .card:hover {
    background-color: rgba(255, 255, 255, 0.09);
  }

  .card-action {
    background-color: transparent;
  }

  .logo img,
  .preview.preview--default,
  .typo-logo {
    filter: invert(100%);
  }

  .border-bottom,
  .collapsible {
    border-color: #222;
  }
}
