/* ==========================================================================
 * Entries
 * ========================================================================== */

.mass-action-toggle {
  display: inline-flex;
  background-color: transparent;
  border: none;
  cursor: pointer;

  &:focus {
    background-color: transparent;
  }
}

.mass-action {
  margin: 10px 5px 10px 20px;
}

.mass-action-group {
  display: flex;
  padding: 3px;
  gap: 10px;
}

.mass-action-button {
  height: 24px;
  line-height: 24px;
  padding: 0 0.5rem;

  i {
    font-size: 1rem;
  }
}

.entry-checkbox {
  margin: 10px 15px 10px 5px;

  .card & {
    float: right;
    margin-right: 0;
    padding: 10px;
  }
}

.entries .entry-checkbox-input,
.mass-action .entry-checkbox-input {
  position: relative;
  left: 0;
  width: 20px;
  min-height: 25px;
  height: 100%;
  vertical-align: middle;
  opacity: initial;
}

.toggle-checkbox:not(:checked) + .mass-action,
.toggle-checkbox:not(:checked) + .mass-action-tags,
.toggle-checkbox:not(:checked) ~ .entries .entry-checkbox,
.toggle-checkbox:checked ~ .entries .card-preview {
  display: none;
}

.mass-action-tags {
  display: flex;
  align-items: center;
  gap: 10px;

  .mass-action-tags-input {
    margin: 0;
  }
}

.entries {
  list-style: none;
}

.collection {
  margin: 5px 15px 0;
  padding: 0;

  .collection-item {
    padding: 7px;
    height: 65px;
  }
}

.results {
  display: flex;
  padding: 1rem 1rem 0;
  flex-wrap: wrap;
  justify-content: space-between;

  .nb-results {
    display: inline-flex;
  }
}

.results-item {
  color: #444;
}

.pagination {
  ul {
    display: flex;
    margin: 0;
    flex-wrap: wrap;
    justify-content: space-around;

    .prev.disabled,
    .next.disabled {
      display: none;
    }
  }

  li {
    padding: 0;

    &:not(.active) a:hover,
    &:not(.active) a:active,
    &:not(.active) a:focus {
      background-color: #e6e6e6;
    }

    &:not(:last-of-type) {
      margin-right: 10px;
    }
  }

  span,
  a {
    padding: 0 10px;
    height: 30px;
    display: block;
    line-height: 30px;
  }

  .disabled {
    margin-right: 10px;
    margin-left: 10px;
  }

  li.active span {
    padding: 0 10px;
    height: 30px;
    display: block;
    color: #fff;
  }
}

.footer-text {
  margin: 0.7rem 0.5rem;
}

.hidden {
  display: none;
}

.picker__date-display {
  display: none;
}

footer {
  &.page-footer {
    margin-top: 10px;
    padding-top: 0;
  }

  .row {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 993px) {
  .mass-action {
    display: flex;
    align-items: center;
    gap: 30px;
  }
}
