/* ==========================================================================
   Side-nav
   ========================================================================== */

.side-nav {
  width: 240px;

  li {
    padding: 0;

    &.logo > a:hover {
      background: initial;
    }
  }

  a {
    margin: 0;
  }

  &.fixed a {
    font-size: 13px;
    line-height: 44px;
    height: 44px;
  }

  .collapsible-header,
  &.fixed .collapsible-header {
    height: 45px;
    line-height: 44px;
    padding: 0 20px;
  }

  > li.logo {
    line-height: 0;
    text-align: center;
  }
}

#notifications {
  width: 300px;
}

.bold > a {
  font-weight: bold;
}

span.numberItems {
  float: right;
}
