/* ==========================================================================
 * Various
 * ========================================================================== */

div.settings div.file-field {
  /* force height on non-input field in the settings page */
  div,
  ul {
    margin-top: 40px;
  }

  /* but avoid to kill all file input */
  div {
    margin-top: inherit;
  }
}

.input-field label.active {
  font-size: 1rem;
}

nav .input-field input {
  margin: 0;
}

.tabs {
  display: flex;
}

.tab {
  flex: 1;
}

.chip {
  margin: auto 0;
  border-radius: 4px;
  background-color: #eee;
  font-weight: normal;
  height: 20px;
  line-height: normal;

  a {
    color: #9e9e9e;
  }

  i.material-icons {
    float: right;
    font-size: 16px;
    line-height: 32px;
    padding-left: 8px;
  }
}
