/* ==========================================================================
 * Various
 * ========================================================================== */

div.settings div.file-field {
  /* force height on non-input field in the settings page */
  div,
  ul {
    margin-top: 40px;
  }

  /* but avoid to kill all file input */
  div {
    margin-top: inherit;
  }
}

.input-field label.active {
  font-size: 1rem;
}

nav .input-field input {
  margin: 0;
}

.tabs {
  display: flex;
}

.tab {
  flex: 1;
}

#notifications-count {
  position: relative;
  top: -50px;
  left: 15px;
}
