/* ==========================================================================
 * Various
 * ========================================================================== */

div.settings div.file-field {
  /* force height on non-input field in the settings page */
  div,
  ul {
    margin-top: 40px;
  }

  /* but avoid to kill all file input */
  div {
    margin-top: inherit;
  }
}

.input-field label.active {
  font-size: 1rem;
}

nav .input-field input {
  margin: 0;
}

.tabs {
  display: flex;
}

.tab {
  flex: 1;
}

.slider .slides {
  background: #00acc1;

  li {
    img {
      background: no-repeat;
      background-size: contain;
      background-position: unset;
    }

    .icon {
      width: auto;
      height: 180px;
    }

    .icon.browser {
      width: auto;
      height: 100px;
    }

    .caption {
      width: 85%;
      left: 10%;
    }
  }
}
