assets/*
cache/*
composer.phar
composer.lock
wallabag.db
wallabag_test.db
vendor/atoum
vendor/bin
vendor/autoload.php
vendor/composer
vendor/doctrine
vendor/knplabs
vendor/pimple
vendor/psr
vendor/silex
vendor/symfony
vendor/twig
