/app/SymfonyRequirements.php
/app/bootstrap.php.cache
/app/check.php
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
.idea
.DS_Store
.vagrant
/vendor/
app/db/poche.sqlite

/bin/
!bin/install
!bin/test
!bin/symfony

/data/*

/web/.htaccess