includes:
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-symfony/extension.neon
    - vendor/phpstan/phpstan-doctrine/extension.neon
    - vendor/phpstan/phpstan-phpunit/rules.neon

parameters:
    symfony:
        container_xml_path: %rootDir%/../../../var/cache/test/appTestDebugProjectContainer.xml

    # https://github.com/phpstan/phpstan/issues/694#issuecomment-350724288
    autoload_files:
        - vendor/bin/.phpunit/phpunit-7.4/vendor/autoload.php

    inferPrivatePropertyTypeFromConstructor: true
