parameters:
	ignoreErrors:
		-
			message: "#^Call to an undefined method Psr\\\\Container\\\\ContainerInterface\\:\\:getParameter\\(\\)\\.$#"
			count: 2
			path: src/Wallabag/ApiBundle/Controller/EntryRestController.php

		-
			message: "#^Call to an undefined method Psr\\\\Container\\\\ContainerInterface\\:\\:getParameter\\(\\)\\.$#"
			count: 1
			path: src/Wallabag/ApiBundle/Controller/UserRestController.php

		-
			message: "#^Call to an undefined method Psr\\\\Container\\\\ContainerInterface\\:\\:getParameter\\(\\)\\.$#"
			count: 3
			path: src/Wallabag/ApiBundle/Controller/WallabagRestController.php

		-
			message: "#^Call to an undefined method Doctrine\\\\Persistence\\\\ObjectManager\\:\\:getConnection\\(\\)\\.$#"
			count: 5
			path: src/Wallabag/CoreBundle/Command/InstallCommand.php

		-
			message: "#^Call to an undefined method Wallabag\\\\CoreBundle\\\\Entity\\\\RuleInterface\\:\\:getConfig\\(\\)\\.$#"
			count: 1
			path: src/Wallabag/CoreBundle/Controller/ConfigController.php

		-
			message: "#^Call to an undefined method Psr\\\\Container\\\\ContainerInterface\\:\\:getParameter\\(\\)\\.$#"
			count: 1
			path: src/Wallabag/CoreBundle/Controller/StaticController.php

		-
			message: "#^Call to an undefined method Symfony\\\\Component\\\\Config\\\\Definition\\\\Builder\\\\NodeDefinition\\:\\:children\\(\\)\\.$#"
			count: 1
			path: src/Wallabag/CoreBundle/DependencyInjection/Configuration.php

		-
			message: "#^Call to an undefined method Lexik\\\\Bundle\\\\FormFilterBundle\\\\Filter\\\\Query\\\\QueryInterface\\:\\:getExpressionBuilder\\(\\)\\.$#"
			count: 1
			path: src/Wallabag/CoreBundle/Event/Subscriber/CustomDoctrineORMSubscriber.php

		-
			message: "#^Call to an undefined method Lexik\\\\Bundle\\\\FormFilterBundle\\\\Filter\\\\Query\\\\QueryInterface\\:\\:getExpr\\(\\)\\.$#"
			count: 10
			path: src/Wallabag/CoreBundle/Form/Type/EntryFilterType.php

		-
			message: "#^PHPDoc tag @var has invalid value \\(\\[\\\\GuzzleHttp\\\\Event\\\\SubscriberInterface\\]\\)\\: Unexpected token \"\\[\", expected type at offset 9$#"
			count: 1
			path: src/Wallabag/CoreBundle/Helper/HttpClientFactory.php

		-
			message: "#^Call to an undefined method Doctrine\\\\Persistence\\\\ObjectManager\\:\\:getConnection\\(\\)\\.$#"
			count: 1
			path: src/Wallabag/ImportBundle/Command/ImportCommand.php

		-
			message: "#^Call to an undefined method Wallabag\\\\ImportBundle\\\\Import\\\\ImportInterface\\:\\:setFilepath\\(\\)\\.$#"
			count: 1
			path: src/Wallabag/ImportBundle/Controller/BrowserController.php

		-
			message: "#^Call to an undefined method Wallabag\\\\ImportBundle\\\\Import\\\\ImportInterface\\:\\:setUser\\(\\)\\.$#"
			count: 1
			path: src/Wallabag/ImportBundle/Controller/BrowserController.php

		-
			message: "#^Call to an undefined method Wallabag\\\\ImportBundle\\\\Import\\\\ImportInterface\\:\\:setFilepath\\(\\)\\.$#"
			count: 1
			path: src/Wallabag/ImportBundle/Controller/WallabagController.php

		-
			message: "#^Call to an undefined method Wallabag\\\\ImportBundle\\\\Import\\\\ImportInterface\\:\\:setUser\\(\\)\\.$#"
			count: 1
			path: src/Wallabag/ImportBundle/Controller/WallabagController.php

		-
			message: "#^Call to an undefined method Symfony\\\\Component\\\\Config\\\\Definition\\\\Builder\\\\NodeDefinition\\:\\:children\\(\\)\\.$#"
			count: 1
			path: src/Wallabag/ImportBundle/DependencyInjection/Configuration.php

		-
			message: "#^Call to an undefined method Psr\\\\Container\\\\ContainerInterface\\:\\:getParameter\\(\\)\\.$#"
			count: 1
			path: src/Wallabag/UserBundle/Controller/RegistrationController.php

		-
			message: "#^Call to an undefined method Psr\\\\Container\\\\ContainerInterface\\:\\:getParameter\\(\\)\\.$#"
			count: 1
			path: src/Wallabag/UserBundle/Controller/SecurityController.php

		-
			message: "#^Call to an undefined method Symfony\\\\Component\\\\Config\\\\Definition\\\\Builder\\\\NodeDefinition\\:\\:children\\(\\)\\.$#"
			count: 1
			path: src/Wallabag/UserBundle/DependencyInjection/Configuration.php

		-
			message: "#^Call to an undefined method Scheb\\\\TwoFactorBundle\\\\Model\\\\Email\\\\TwoFactorInterface\\:\\:getName\\(\\)\\.$#"
			count: 2
			path: src/Wallabag/UserBundle/Mailer/AuthCodeMailer.php

		-
			message: "#^PHPDoc tag @var has invalid value \\(\\$loginManager \\\\FOS\\\\UserBundle\\\\Security\\\\LoginManager\\)\\: Unexpected token \"\\$loginManager\", expected type at offset 9$#"
			count: 1
			path: tests/Wallabag/AnnotationBundle/WallabagAnnotationTestCase.php

		-
			message: "#^PHPDoc tag @var has invalid value \\(\\$userManager \\\\FOS\\\\UserBundle\\\\Doctrine\\\\UserManager\\)\\: Unexpected token \"\\$userManager\", expected type at offset 9$#"
			count: 1
			path: tests/Wallabag/AnnotationBundle/WallabagAnnotationTestCase.php

		-
			message: "#^PHPDoc tag @var has invalid value \\(\\$loginManager \\\\FOS\\\\UserBundle\\\\Security\\\\LoginManager\\)\\: Unexpected token \"\\$loginManager\", expected type at offset 9$#"
			count: 1
			path: tests/Wallabag/ApiBundle/WallabagApiTestCase.php

		-
			message: "#^PHPDoc tag @var has invalid value \\(\\$userManager \\\\FOS\\\\UserBundle\\\\Doctrine\\\\UserManager\\)\\: Unexpected token \"\\$userManager\", expected type at offset 9$#"
			count: 1
			path: tests/Wallabag/ApiBundle/WallabagApiTestCase.php

		-
			message: "#^Call to an undefined method DOMNode\\:\\:getAttribute\\(\\)\\.$#"
			count: 1
			path: tests/Wallabag/CoreBundle/Controller/FeedControllerTest.php

		-
			message: "#^Call to method generate\\(\\) on an unknown class PHPUnit_Framework_MockObject_MockObject\\.$#"
			count: 2
			path: tests/Wallabag/CoreBundle/Helper/RedirectTest.php

		-
			message: "#^Property Tests\\\\Wallabag\\\\CoreBundle\\\\Helper\\\\RedirectTest\\:\\:\\$routerMock has unknown class PHPUnit_Framework_MockObject_MockObject as its type\\.$#"
			count: 1
			path: tests/Wallabag/CoreBundle/Helper/RedirectTest.php
