parameters:
    level: 1
    paths:
        - src
        - tests

    symfony:
        container_xml_path: %rootDir%/../../../var/cache/test/appTestDebugProjectContainer.xml

    # https://github.com/phpstan/phpstan/issues/694#issuecomment-350724288
    autoload_files:
        - vendor/bin/.phpunit/phpunit-8.3-0/vendor/autoload.php

    inferPrivatePropertyTypeFromConstructor: true
