parameters:
	ignoreErrors:
		-
			message: "#^Strict comparison using \\=\\=\\= between false and Symfony\\\\Contracts\\\\HttpClient\\\\ResponseInterface will always evaluate to false\\.$#"
			count: 1
			path: src/Helper/DownloadImages.php

		-
			message: "#^Strict comparison using \\=\\=\\= between null and string will always evaluate to false\\.$#"
			count: 1
			path: src/Helper/DownloadImages.php

		-
			message: "#^Strict comparison using \\=\\=\\= between null and string will always evaluate to false\\.$#"
			count: 2
			path: src/Helper/Redirect.php

		-
			message: "#^Offset 'tags' on array\\{title\\: mixed, url\\: mixed, is_archived\\: bool, is_starred\\: false, created_at\\: mixed, tags\\: non\\-empty\\-array\\<int, string\\>\\} in empty\\(\\) always exists and is not falsy\\.$#"
			count: 1
			path: src/Import/PinboardImport.php

		-
			message: "#^Property Wallabag\\\\Mailer\\\\AuthCodeMailer\\:\\:\\$senderName \\(string\\) on left side of \\?\\? is not nullable\\.$#"
			count: 1
			path: src/Mailer/AuthCodeMailer.php

		-
			message: "#^Strict comparison using \\=\\=\\= between null and string will always evaluate to false\\.$#"
			count: 1
			path: src/ParamConverter/UsernameFeedTokenConverter.php

		-
			message: "#^Unreachable statement \\- code above always terminates\\.$#"
			count: 1
			path: tests/Controller/Api/WallabagRestControllerTest.php

		-
			message: "#^Property Tests\\\\Wallabag\\\\Controller\\\\ExportControllerTest\\:\\:\\$sameDomainEntry is unused\\.$#"
			count: 1
			path: tests/Controller/ExportControllerTest.php

		-
			message: "#^Property Tests\\\\Wallabag\\\\Controller\\\\ExportControllerTest\\:\\:\\$sameDomainEntry2 is unused\\.$#"
			count: 1
			path: tests/Controller/ExportControllerTest.php

		-
			message: "#^Unreachable statement \\- code above always terminates\\.$#"
			count: 1
			path: tests/Controller/SecurityControllerTest.php

		-
			message: "#^Call to method PHPUnit\\\\Framework\\\\Assert\\:\\:assertNull\\(\\) with string will always evaluate to false\\.$#"
			count: 4
			path: tests/Helper/ContentProxyTest.php

		-
			message: "#^Call to method PHPUnit\\\\Framework\\\\Assert\\:\\:assertSame\\(\\) with 0\\.0 and int will always evaluate to false\\.$#"
			count: 5
			path: tests/Helper/ContentProxyTest.php

		-
			message: "#^Call to method PHPUnit\\\\Framework\\\\Assert\\:\\:assertSame\\(\\) with 4\\.0 and int will always evaluate to false\\.$#"
			count: 7
			path: tests/Helper/ContentProxyTest.php

		-
			message: "#^Unreachable statement \\- code above always terminates\\.$#"
			count: 1
			path: tests/Helper/ContentProxyTest.php
