includes:
    - phpstan-baseline.neon

parameters:
    level: 3
    paths:
        - src
        - tests

    symfony:
        container_xml_path: %rootDir%/../../../var/cache/dev/srcWallabag_KernelDevDebugContainer.xml

    doctrine:
        objectManagerLoader: tests/object-manager.php

    inferPrivatePropertyTypeFromConstructor: true
