#content {
  margin-top: 2em;
  min-height: 30em;
}

footer {
  text-align: right;
  position: relative;
  bottom: 0;
  right: 5em;
  color: #999;
  font-size: 0.8em;
  font-style: italic;
  z-index: 20;

  a {
    color: #999;
    font-weight: normal;
  }
}

.list-entries {
  letter-spacing: -5px;
}

.listmode.entry {
  width: 100%;
  height: inherit;
}

.card-entry-tags {
  max-height: 2em;
  overflow-y: hidden;
  padding: 0;
  margin: 0;
}

.card-entry-tags li,
.card-entry-tags span {
  display: inline-block;
  margin: 0 5px;
  padding: 5px 12px;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 3px;
  max-height: 2em;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-entry-tags a,
.card-entry-labels a {
  text-decoration: none;
  font-weight: normal;
  color: #fff;
}

.nav-panel-add-tag {
  margin-top: 10px;
}

.list-entries + .results {
  margin-bottom: 2em;
}

.reading-time,
.created-at {
  color: #999;
  font-style: italic;
  font-weight: normal;
  font-size: 0.9em;
}

.estimatedTime small {
  position: relative;
  top: -1px;
}

.entry {
  background-color: #fff;
  letter-spacing: normal;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  display: inline-block;
  width: 32%;
  margin-bottom: 1.5em;
  vertical-align: top;
  margin-right: 1%;
  position: relative;
  overflow: hidden;
  padding: 1.5em 0 3em;
  height: 440px;

  img.preview {
    width: 100%;
    object-fit: cover;
    height: 100%;
  }

  &::before {
    content: "";
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-bottom-color: #000;
    position: absolute;
    bottom: 0.7em;
    z-index: 10;
    right: 1.5em;
    transition: all 0.5s ease;
  }

  &::after {
    content: "";
    position: absolute;
    height: 7px;
    width: 100%;
    bottom: 0;
    left: 0;
    background-color: #000;
    transition: all 0.5s ease;
  }

  &:hover {
    box-shadow: 0 3px 10px rgba(0, 0, 0, 1);

    &::after {
      height: 40px;
    }

    &::before {
      bottom: 2.3em;
    }

    h2 a {
      color: #666;
    }

    .tools {
      bottom: 0;
    }
  }

  h2 {
    text-transform: none;
    margin-bottom: 0;
    line-height: 1.2;
    margin-left: 5px;
  }

  &::after {
    content: none;
  }

  a {
    display: block;
    text-decoration: none;
    color: #000;
    word-wrap: break-word;
    transition: all 0.5s ease;
  }

  p {
    color: #666;
    font-size: 0.9em;
    line-height: 1.7;
    margin: 5px 5px auto;
  }

  h2 a::first-letter {
    text-transform: uppercase;
  }

  .tools {
    position: absolute;
    bottom: -40px;
    left: 0;
    background: #000;
    width: 100%;
    z-index: 10;
    padding-right: 0.5em;
    text-align: right;
    transition: all 0.5s ease;

    a {
      color: #666;
      text-decoration: none;
      display: block;
      padding: 0.4em;

      &:hover {
        color: #fff;
      }
    }

    li {
      display: inline-block;
      margin-top: 10px;
    }

    li:first-child {
      float: left;
      font-size: 0.9em;
      max-width: calc(100% - 40px * 4);
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      max-height: 2em;
      margin-left: 10px;
    }
  }

  .card-entry-labels {
    position: absolute;
    top: 100px;
    left: -1em;
    z-index: 90;
    max-width: 50%;
    padding-left: 0;

    li {
      margin: 10px 10px 10px auto;
      padding: 5px 12px 5px 25px;
      background-color: rgba(0, 0, 0, 0.6);
      border-radius: 0 3px 3px 0;
      color: #fff;
      cursor: default;
      max-height: 2em;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;

      a {
        color: #fff;
      }
    }
  }
}

.entry:nth-child(3n+1) {
  margin-left: 0;
}

.results {
  letter-spacing: -5px;
  padding: 0 0 0.5em;

  > * {
    display: inline-block;
    vertical-align: top;
    letter-spacing: normal;
    width: 50%;
    text-align: right;
  }
}

div.pagination ul {
  text-align: right;
}

.nb-results {
  text-align: left;
  font-style: italic;
  color: #999;
  display: inline-flex;
}

div.pagination ul {
  a {
    color: #999;
    text-decoration: none;

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }

  > * {
    display: inline-block;
    margin-left: 0.5em;
  }

  .prev.disabled,
  .next.disabled {
    display: none;
  }

  .current {
    height: 25px;
    padding: 4px 8px;
    border: 1px solid #d5d5d5;
    text-decoration: none;
    font-weight: bold;
    color: #000;
    background-color: #ccc;
  }
}

.card-tag-form {
  display: inline-block;
}

.card-tag-form input[type="text"] {
  min-width: 20em;
}

.hide,
.hidden {
  display: none;
}
