/* ==========================================================================
   Messages
   ========================================================================== */

.messages {
  text-align: left;
  width: 60%;
  margin: auto 17%;

  > * {
    display: inline-block;
  }

  .install {
    text-align: left;

    &.error {
      border: 1px solid #c42608;
      color: #c00 !important;
      background: #fff0ef;
    }

    &.notice {
      border: 1px solid #ebcd41;
      color: #000;
      background: #fffcd3;
    }

    &.success {
      border: 1px solid #6dc70c;
      background: #e0fbcc !important;
    }
  }
}

.warning {
  font-weight: bold;
  display: block;
  width: 100%;
}

.more-info {
  font-size: 0.85em;
  line-height: 1.5;
  color: #aaa;

  a {
    color: #aaa;
  }
}
