/* ==========================================================================
   Pictos
   ========================================================================== */

@font-face {
  font-family: icomoon;
  src: url('~icomoon-free-npm/Font/IcoMoon-Free.ttf');
  font-weight: normal;
  font-style: normal;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 1em;  /* Preferred icon size */
  width: 1em;
  height: 1em;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;

  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';

  .md-18 { font-size: 18px; }
  .md-24 { font-size: 24px; }
  .md-36 { font-size: 36px; }
  .md-48 { font-size: 48px; }

  .vertical-align-middle {
    vertical-align: middle !important;
  }
}

.icon span,
.icon-image span {
  position: absolute;
  top: -9999px;
}

[class^="icon-"]::before,
[class*=" icon-"]::before {
  font-family: icomoon;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Enable Ligatures ================ */
  letter-spacing: 0;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  -o-font-feature-settings: "liga";
  font-feature-settings: "liga";

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-flattr::before {
  content: "\ead4";
}

.icon-mail::before {
  content: "\ea86";
}

.icon-up-open::before {
  content: "\e80b";
}

.icon-star::before {
  content: "\e9d9";
}

.icon-check::before {
  content: "\ea10";
}

.icon-link::before {
  content: "\e9cb";
}

.icon-reply::before {
  content: "\e806";
}

.icon-menu::before {
  content: "\e9bd";
}

.icon-clock::before {
  content: "\e803";
}

.icon-twitter::before {
  content: "\ea96";
}

.icon-down-open::before {
  content: "\e809";
}

.icon-trash::before {
  content: "\e9ac";
}

.icon-delete::before {
  content: "\ea0d";
}

.icon-power::before {
  content: "\ea14";
}

.icon-arrow-up-thick::before {
  content: "\ea3a";
}

.icon-feed::before {
  content: "\e808";
}

.icon-print::before {
  content: "\e954";
}

.icon-reload::before {
  content: "\ea2e";
}

.icon-price-tags::before {
  content: "\e936";
}

.icon-eye::before {
  content: "\e9ce";
}

.icon-no-eye::before {
  content: "\e9d1";
}

.icon-calendar::before {
  content: "\e953";
}

.icon-time::before {
  content: "\e952";
}

/* .icon-image class, for image-based icons
  ========================================================================== */

.icon-image {
  background: no-repeat center/80%;
  padding-right: 1em !important;
  padding-left: 1em !important;
}

/* Carrot (http://carrot.org) */
.icon-image--carrot {
  background-image: url("../../_global/img/icons/carrot-icon--white.png");
}

/* Diaspora */
.icon-image--diaspora {
  background-image: url("../../_global/img/icons/Diaspora-asterisk.svg");
}

/* Unmark.it */
.icon-image--unmark {
  background-image: url("../../_global/img/icons/unmark-icon--black.png");
}

/* shaarli */
.icon-image--shaarli {
  background-image: url("../../_global/img/icons/shaarli.png");
}

/* ==========================================================================
   Icon selected
   ========================================================================== */

.icon-star.fav::before {
  color: #fff;
}

.icon-check.archive::before {
  color: #fff;
}
