{% trans_default_domain 'FOSUserBundle' %}

{{ form_start(form, {'action': path('fos_user_resetting_reset', {'token': token}), 'attr': {'class': 'fos_user_resetting_reset'}}) }}
    <div class="card-content">
        <div class="row">
            {{ form_widget(form) }}
        </div>
        <div class="card-action center">
            <button class="btn waves-effect waves-light" type="submit" name="send">
                {{ 'resetting.reset.submit'|trans }}
                <i class="material-icons right">send</i>
            </button>
        </div>
    </div>
</form>
