{% extends "WallabagCoreBundle::layout-login.html.twig" %}

{% block title %}{% trans %}login to your wallabag{% endtrans %}{% endblock %}
{% block content %}
    {% if error %}
        <div>{{ error.message }}</div>
    {% endif %}


                    <input type="text"  id="username" name="_username" class="form-control" placeholder="User ID" autofocus value="{{ last_username }}">
                    <br/>
                    <input type="password" id="password" name="_password" class="form-control" placeholder="Password">
            {#
                Si vous voulez contrôler l'URL vers laquelle l'utilisateur est redirigé en cas de succès
                (plus de détails ci-dessous)
                <input type="hidden" name="_target_path" value="/account" />
            #}
            <label class="checkbox">
		                <span class="pull-right">
		                    <a data-toggle="modal" href="login.html#myModal"> Forgot Password?</a>

		                </span>
            </label>
                <button class="btn btn-theme btn-block" href="index.html" type="submit"><i class="fa fa-lock"></i> SIGN IN</button>

{% endblock %}
