<div id="search-form" class="messages info">			
<form method="get" action="index.php">
    <p>
		<input type="hidden" name="view" value="search"></input>
        <label>{% trans "Search" %}</label> : <input type="text" required placeholder="{% trans "Enter your search here" %}" name="search" id="searchfield" />
		<input type="submit" value="{% trans "Search" %} !"></input>
    </p>
</form>
</div>
