a.back span {
    background-image: url('../img/default/left.png');
}

a.top span {
    background-image: url('../img/default/top.png');
}

a.fav span,
a.fav-off span:hover {
    background-image: url('../img/default/star-on.png');
}

a.fav span:hover,
a.fav-off span {
    background-image: url('../img/default/star-off.png');
}

a.archive span,
a.archive-off span:hover {
    background-image: url('../img/default/checkmark-on.png');
}

a.archive span:hover,
a.archive-off span {
    background-image: url('../img/default/checkmark-off.png');
}

a.twitter span {
    background-image: url('../img/default/twitter.png');
}

a.shaarli span {
    background-image: url('../img/default/shaarli.png');
}

a.flattr span {
    background-image: url('../img/default/flattr.png');
}

a.carrot span {
    background-image: url('../../_global/img/icons/carrot-icon--black.png');
    background-size: 16px 16px;
}

a.evernote span {
    background-image: url('../../_global/img/icons/evernote-icon--black.svg');
    background-size: 16px 16px;
}

a.diaspora span {
    background-image: url('../../_global/img/icons/diaspora-icon--black.png');
    background-size: 16px 16px;
}

a.email span {
    background-image: url('../img/default/envelop.png');
}

a.delete span {
    background-image: url('../img/default/remove.png');
}

a.link span {
    background-image: url('../img/default/link.png');
}

a.bad-display span {
    background-image: url('../img/default/bad-display.png');
}

a.print span {
		background-image: url('../img/default/print.png');
}
a.reload span {
    background-image: url('../img/default/reload.png');
}
.edit-tags span {
    background-image: url('../img/default/tags.png');
    display: inline-block;
    width: 16px;
    height: 16px;
    /* Hide textual content */
    overflow: hidden;
    text-align: left;
    text-indent: -9999px;
}
