        <header class="w600p center mbm">
            <h1>
                {% block logo %}<img width="100" height="100" src="{{ asset('themes/baggy/img/logo-other_themes.png') }}" alt="wallabag logo" />{% endblock %}

            </h1>
        </header>
