{% trans_default_domain 'FOSUserBundle' %}

<form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register">
    <div class="card-content">
    {{ form_widget(form) }}
        <input type="submit" value="{{ 'registration.submit'|trans }}" />
    </div>
    <div class="card-action">
        <button class="btn waves-effect waves-light" type="submit" name="send">
            {% trans %}Create account{% endtrans %}
            <i class="mdi-content-send right"></i>
        </button>
    </div>
</form>
