.messages {
    display: block;
    clear: both;
    width: 400px;
    margin: 10px auto 10px;
    padding: 10px 0;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.messages p {
    margin: 3px 0 3px 10px !important;
    padding: 0 10px 0 23px !important;
    font-size: 14px;
    line-height: 16px;
}

.messages.error.install {
    border: 1px solid #c42608;
    color: #c00 !important;
    background: #fff0ef;
    text-align: left;
}

.messages.notice.install {
    border: 1px solid #ebcd41;
    color: #000;
    background: #fffcd3;
    text-align: left;
}

.messages.success.install {
    border: 1px solid #6dc70c;
    background: #e0fbcc !important;
    text-align: left;
}

.messages.information,
.messages.info {
    border: 1px solid #82aee7;
    background: #dfebfb;
}