<div class="card black">
    <div class="card-body">
        {% include "@WallabagCore/themes/darkmateria/Entry/Card/_content.html.twig" with {'entry': entry} only %}
    </div>

    {% include "@WallabagCore/themes/darkmateria/Entry/_card_actions.html.twig" with {'entry': entry} only %}
</div>
