@use "variables";

/* ==========================================================================
 * Tag chip
 * ========================================================================== */

.tag-chip-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
}

.tag-chip-list .tag-chip {
  display: flex;
  margin: 10px;
  padding: 5px 12px 5px 16px !important;
  gap: 10px;
  align-items: center;
  background-color: variables.$blue-accent-color;
  border-radius: 3px;
  color: #fff;
  cursor: default;
  line-height: 20px;
}

.tag-chip-link,
.tag-chip-action {
  text-decoration: none;
  font-weight: normal;
  color: #fff;
}

.tag-chip-link {
  width: calc(100% - 24px);
  line-height: 1.3;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.tag-chip-form {
  display: flex;
  align-items: center;
  min-width: 100px;
  flex-grow: 1;
}

/* Materialize text input overrides for the tag chip rename form */
.tag-chip-form {
  input:not([type], .browser-default),
  input[type="text"]:not(.browser-default) {
    height: 1.8rem;
    margin-bottom: 0;
    font-size: 13px;
    border-bottom: none;

    &:focus:not([readonly]) {
      border-bottom: none;
      box-shadow: none;
    }
  }
}

/* Custom styles for the tag chip rename form input */
.tag-chip-form input {
  color: #fff;
}

.tag-chip-action {
  display: flex;
}

button.tag-chip-action {
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}
