@use "variables";

/* ==========================================================================
 * Various
 * ========================================================================== */

div.settings div.file-field {
  /* force height on non-input field in the settings page */
  div,
  ul {
    margin-top: 40px;
  }

  /* but avoid to kill all file input */
  div {
    margin-top: inherit;
  }
}

/* override materializecss pointer-event disabled on checkboxes */
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked,
.input-field label {
  pointer-events: initial;
}

.input-field label.active {
  font-size: 1rem;
}

nav .input-field input {
  margin: 0;
  padding-left: 0.5rem;
}

.tabs {
  display: flex;
}

.tab {
  flex: 1;
}

.btn-link {
  background: none;
  border: 0;
  padding: 0;
  color: variables.$blue-accent-color;

  &:focus {
    background: none;
  }
}

button:not(:disabled, .disabled) {
  cursor: pointer;
}

button:disabled,
button.disabled {
  cursor: default;
}

button:focus-visible {
  outline: 2px solid currentcolor;
  outline-offset: 2px;
}

.config-help {
  font: inherit;
  line-height: inherit;
}

.dropdown-content button[data-dark-theme-target][aria-pressed="true"],
.sidenav button[data-dark-theme-target][aria-pressed="true"] {
  color: variables.$blue-accent-color;
  font-weight: bold;

  > i {
    color: inherit;
  }
}
