{% if tag is defined %}
    {% set feed_route = 'tag_feed' %}
    {% set slug = tag.slug %}
{% elseif current_route in ['homepage', 'unread', 'starred', 'archive', 'all'] %}
    {% set feed_route = current_route %}
    {% if current_route == 'homepage' %}
        {% set feed_route = 'unread' %}
    {% endif %}
    {% set feed_route = feed_route ~ '_feed' %}
    {% set slug = null %}
{% endif %}
{% if feed_route is defined %}
    <a rel="alternate" type="application/atom+xml" href="{{ path(feed_route, {'username': app.user.username, 'token': app.user.config.feedToken, 'slug': slug}) }}" class="results-item"><i class="material-icons">rss_feed</i></a>
{% endif %}
