{% extends "WallabagCoreBundle::layout.html.twig" %}

{% block title %}{% trans %}About{% endtrans %}{% endblock %}

{% block content %}

    <div class="row">
        <div class="col s12">
            <div class="card-panel settings">

                <div class="row">
                    <div class="div_tabs col s12">
                        <ul class="tabs">
                        <li class="tab col s3"><a class="active" href="#set1">{% trans %}Who is behind wallabag{% endtrans %}</a></li>
                        <li class="tab col s3"><a href="#set2">{% trans %}Getting help{% endtrans %}</a></li>
                        <li class="tab col s3"><a href="#set3">{% trans %}Helping wallabag{% endtrans %}</a></li>
                        </ul>
                    </div>

                    <div id="set1" class="col s12">
                        <dt>{% trans %}Developed by{% endtrans %}</dt>
                        <dd><a href="mailto:nicolas@loeuillet.org">Nicolas Lœuillet</a> — <a href="http://cdetc.fr">{% trans %}website{% endtrans %}</a></dd>
                        <dd>Thomas Citharel — <a href="https://tcit.fr">{% trans %}website{% endtrans %}</a></dd>
                        <dd>Jérémy Benoist — <a href="http://www.j0k3r.net">{% trans %}website{% endtrans %}</a></dd>
                        <dt>{% trans %}And many others contributors ♥{% endtrans %} <a href="https://github.com/wallabag/wallabag/graphs/contributors">{% trans %}on GitHub{% endtrans %}</a></dt>
                        <dt>{% trans %}Project website{% endtrans %}</dt>
                        <dd><a href="https://www.wallabag.org">https://www.wallabag.org</a></dd>
                        <dt>{% trans %}License{% endtrans %}: <a href="http://en.wikipedia.org/wiki/MIT_License">MIT</a></dt>
                        <dt>{% trans %}Version{% endtrans %}: {{ version }}</dt>
                    </div>

                    <div id="set2" class="col s12">
                        <dl>
                            <dt>{% trans %}Documentation{% endtrans %}</dt>
                            <dd><a href="https://doc.wallabag.org/en">english</a></dd>
                            <dd><a href="https://doc.wallabag.org/fr">français</a></dd>
                            <dd><a href="https://doc.wallabag.org/de">deutsch</a></dd>

                            <dt>{% trans %}Bug reports{% endtrans %}</dt>
                            <dd><a href="https://support.wallabag.org">{% trans %}On our support website{% endtrans %}</a> {% trans %}or{% endtrans %} <a href="https://github.com/wallabag/wallabag/issues">{% trans %}on GitHub{% endtrans %}</a></dd>
                        </dl>
                    </div>

                    <div id="set3" class="col s12">
                        <dl>
                            <dt>{% trans %}wallabag is free and opensource. You can help us:{% endtrans %}</dt>
                            <dd>{% trans %}by contributing to the project:{% endtrans %} <a href="https://github.com/wallabag/wallabag/issues/1254">{% trans %}an issue lists all our needs{% endtrans %}</a></dd>
                            <dd><a href="{{ paypal_url }}">{% trans %}via Paypal{% endtrans %}</a></dd>
                        </dl>
                    </div>

                </div>

            </div>
        </div>
    </div>

{% endblock %}
