{% extends "WallabagCoreBundle::layout.html.twig" %}

{% block title %}{% trans %}About{% endtrans %}{% endblock %}

{% block content %}
    <h2>{% trans %}Who is behind wallabag{% endtrans %}</h2>

    <dl>
        <dt>{% trans %}Developed by{% endtrans %}</dt>
        <dd><a href="mailto:nicolas@loeuillet.org">Nicolas Lœuillet</a> — <a href="http://cdetc.fr">{% trans %}website{% endtrans %}</a></dd>
        <dd>Thomas Citharel — <a href="https://tcit.fr">{% trans %}website{% endtrans %}</a></dd>
        <dd>Jérémy Benoist — <a href="http://www.j0k3r.net">{% trans %}website{% endtrans %}</a></dd>

        <dt>{% trans %}And many others contributors ♥{% endtrans %} <a href="https://github.com/wallabag/wallabag/graphs/contributors">{% trans %}on Github{% endtrans %}</a></dt>

        <dt>{% trans %}Project website{% endtrans %}</dt>
        <dd><a href="https://www.wallabag.org">https://www.wallabag.org</a></dd>

        <dt>{% trans %}License{% endtrans %}: <a href="http://en.wikipedia.org/wiki/MIT_License">MIT</a></dt>

        <dt>{% trans %}Version{% endtrans %}: {{ version }}</dt>
    </dl>

    <h2>{% trans %}Getting help{% endtrans %}</h2>

    <dl>
        <dt>{% trans %}Documentation{% endtrans %}</dt>
        <dd><a href="https://doc.wallabag.org/en">english</a></dd>
        <dd><a href="https://doc.wallabag.org/fr">français</a></dd>
        <dd><a href="https://doc.wallabag.org/de">deutsch</a></dd>

        <dt>{% trans %}Bug reports{% endtrans %}</dt>
        <dd><a href="https://support.wallabag.org">{% trans %}On our support website{% endtrans %}</a> {% trans %}or{% endtrans %} <a href="https://github.com/wallabag/wallabag/issues">{% trans %}on Github{% endtrans %}</a></dd>
    </dl>

    <h2>{% trans %}Helping wallabag{% endtrans %}</h2>

    <p>{% trans %}wallabag is free and opensource. You can help us:{% endtrans %}</p>

    <dl>
        <dt>{% trans %}wallabag is free and opensource. You can help us:{% endtrans %}</dt>
        <dd>by contributing to the project: <a href="https://github.com/wallabag/wallabag/issues/1254">an issue lists all our needs</a></dd>
        <dd><a href="{{ paypal_url }}">{% trans %}via Paypal{% endtrans %}</a></dd>
    </dl>
{% endblock %}
