<div id="search-form" class="messages info popup-form">
<form method="get" action="index.php">
	<h2>{%trans "Search" %}</h2>
        <a href="javascript: void(null);" id="search-form-close" class="close-button--popup close-button">&times;</a>
        <input type="hidden" name="view" value="search"></input>
        <input required placeholder="{% trans "Enter your search here" %}" type="text" name="search" id="searchfield"><br>
        <input id="submit-search" type="submit" value="{% trans "Search" %}"></input>
</form>
</div>
