<div id="search-form" class="messages info">
<form method="get" action="index.php">
        <a href="javascript: void(null);" id="search-form-close" class="popup-close">&times;</a>
        <input type="hidden" name="view" value="search"></input>
        <label>{% trans "Search" %}:</label><input required placeholder="{% trans "Enter your search here" %}" type="text" name="search" id="searchfield" />
        <input id="submit-search" type="submit" value="{% trans "Search" %} !"></input>
</form>
</div>
