<div class="card{% if currentRoute == 'tag_entries' and entry.isArchived %} archived{% endif %}">
    <div class="card-body">
        <div class="card-fullimage">
            <ul class="card-entry-labels">
            {% for tag in entry.tags | slice(0, 3) %}
                <li><a href="{{ path('tag_entries', {'slug': tag.slug}) }}">{{ tag.label }}</a></li>
            {% endfor %}
            </ul>
            <a href="{{ path('view', { 'id': entry.id }) }}">
                <span class="preview" style="background-image: url({{ entry.previewPicture }})"></span>
            </a>
        </div>
        {% include "@WallabagCore/themes/material/Entry/Card/_content.html.twig" with {'entry': entry} only %}
    </div>

    {% include "@WallabagCore/themes/material/Entry/_card_actions.html.twig" with {'entry': entry} only %}
</div>
