{% set placeholder = 'Enter your link here'|trans %}
<form name="entry" method="post" action="{{ path('new_entry')}}">
    <div class="input-field nav-panel-add" style="display: none">
        {{ form_widget(form.url, { 'attr': {'placeholder': placeholder} }) }}

        <label for="add"><i class="mdi-content-add"></i></label>
        <i class="mdi-navigation-close"></i>
        <div class="hidden">{{ form_rest(form) }}</div>
    </div>
</form>
