{% block pager %}
    <div class="results clearfix">
        <div class="nb-results left">
            {{ 'entry.list.number_on_the_page'|transchoice(entries.count) }}
        </div>
        {% if entries.getNbPages > 1 %}
            {{ pagerfanta(entries, 'twitter_bootstrap_translated', {'proximity': 1}) }}
        {% endif %}
    </div>
{% endblock %}
