<li class="mt">
    <a class="active" href="{{ path('unread') }}">
        <i class="fa fa-dashboard"></i>
        <span>Unread</span>
    </a>
</li>

<li class="sub-menu">
    <a href="{{ path('starred') }}" >
        <i class="fa fa-desktop"></i>
        <span>Starred</span>
    </a>
</li>
<li class="sub-menu">
    <a href="{{ path('new_entry') }}" >
    <i class="fa fa-cogs"></i>
    <span>Save a link</span>
    </a>
</li>
<li class="sub-menu">
    <a href="{{ path('archive') }}" >
        <i class="fa fa-cogs"></i>
        <span>Archive</span>
    </a>
</li>
<li class="sub-menu">
    <a href="" >
        <i class="fa fa-book"></i>
        <span>Tags</span>
    </a>
</li>
<!--<li class="sub-menu">
    <a href="javascript:;" >
        <i class="fa fa-tasks"></i>
        <span>Forms</span>
    </a>
    <ul class="sub">
        <li><a  href="form_component.html">Form Components</a></li>
    </ul>
</li>
<li class="sub-menu">
    <a href="javascript:;" >
        <i class="fa fa-th"></i>
        <span>Data Tables</span>
    </a>
    <ul class="sub">
        <li><a  href="basic_table.html">Basic Table</a></li>
        <li><a  href="responsive_table.html">Responsive Table</a></li>
    </ul>
</li>
<li class="sub-menu">
    <a href="javascript:;" >
        <i class=" fa fa-bar-chart-o"></i>
        <span>Charts</span>
    </a>
    <ul class="sub">
        <li><a  href="morris.html">Morris</a></li>
        <li><a  href="chartjs.html">Chartjs</a></li>
    </ul>
</li>-->