{% extends "WallabagCoreBundle::layout.html.twig" %}

{% block title %}{{ 'security.login.page_title'|trans }}{% endblock %}

{% block body_class %}login{% endblock %}

{% block menu %}{% endblock %}
{% block messages %}{% endblock %}

{% block content %}
<main class="valign-wrapper">
    <div class="valign row">
        <div class="card sw">
            <div class="center"><img src="{{ asset('bundles/wallabagcore/themes/material/img/logo-other_themes.png') }}" alt="wallabag logo" /></div>
            {% block fos_user_content %}
            {% endblock fos_user_content %}
        </div>
    </div>
</main>
{% endblock %}

{% block footer %}
{% endblock %}
