{% extends "WallabagCoreBundle::layout.html.twig" %}
{% block title %}{% trans %}Import > Pocket{% endtrans %}{% endblock %}

{% block content %}
<div class="row">
    <div class="col s12">
        <div class="card-panel settings">
            {% if not has_consumer_key %}
                <div class="card-panel red darken-1">
                    {% trans %}Pocket import isn't configured.{% endtrans %}
                    {% if is_granted('ROLE_SUPER_ADMIN') %}
                        {% trans with {'%keyurls%': '<a href="' ~ path('craue_config_settings_modify') ~ '#set-import">', '%keyurle%':'</a>'} %}You need to define %keyurls% a pocket_consumer_key %keyurle%.{% endtrans %}
                    {% else %}
                        {% trans %}Your server admin needs to define an API Key for Pocket.{% endtrans %}
                    {% endif %}
                </div>
            {% endif %}

            <blockquote>{{ import.description|trans }}</blockquote>
            <p>{% trans %}You can import your data from your Pocket account. You just have to click on the below button and authorize the application to connect to getpocket.com.{% endtrans %}</p>
            <form method="post" action="{{ path('import_pocket_auth') }}">
            <div class="row">
                <div class="input-field col s6 with-checkbox">
                    <h6>{% trans %}Mark all as read ?{% endtrans %}</h6>
                        {{ form_widget(form.read) }}
                    <label for="form_read">{% trans %}Mark all imported entries as read{% endtrans %}</label>
                </div>
            </div>
                <button class="btn waves-effect waves-light" type="submit" name="action">
                    {% trans %}Connect to Pocket and import data{% endtrans %}
                </button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
