{% extends "WallabagCoreBundle::layout.html.twig" %}
{% block title %}{% trans %}import{% endtrans %}{% endblock %}

{% block content %}

<div class="row">
    <div class="col s12">
        <div class="card-panel settings">
            {% trans %}You can import your data from your Pocket account. You just have to click on the below button and authorize the application to connect to getpocket.com.{% endtrans %}
            <form method="post" action="{{ path('import_pocket_auth') }}">
                <input type="submit" value="Connect to Pocket and import data" />
            </form>
        </div>
    </div>
</div>
{% endblock %}
