<div id="display-mode">
  <a href="javascript: void(null);" id="listmode" class="listmode">
    <img src="{{ poche_url }}themes/{{ theme }}/img/{{ theme }}/blank.png" alt="{% trans "toggle view mode" %}" title="{% trans "toggle view mode" %}" width="16" height="16">
  </a>
</div>
