{% extends "WallabagCoreBundle::layout.html.twig" %}

{% block title "Unread" %}

{% block menu %}
    {% include "WallabagCoreBundle::_menu.html.twig" %}
{% endblock %}

{% block content %}



    <section id="main-content">
        <section class="wrapper site-min-height">
            <h3><i class="fa fa-angle-right"></i> Unread entries</h3>
            <div class="row mt">
                <div class="col-lg-12">

                    <!-- 1st ROW OF PANELS -->
                    <div class="row">

                        {% for entry in entries %}
                            <div class="col-lg-4 col-md-4 col-sm-4 mb">
                                <div class="content-panel pn">
                                    <div id="profile-02">
                                        <div class="user">
                                            <h4><a href="{{ path('view', { 'id': entry.id }) }}">{{ entry.title|raw }}</a></h4>
                                        </div>
                                    </div>
                                    <div class="pr2-social centered">
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </section>
    </section>

{% endblock %}
