{% extends "WallabagCoreBundle::layout.html.twig" %}

{% block title %}{{ entry.title|raw }} ({{ entry.url | e | domainName }}){% endblock %}

{% block menu %}
    {% include "WallabagCoreBundle::_menu.html.twig" %}
{% endblock %}

{% block content %}

    <section id="main-content">
        <section class="wrapper site-min-height">
            <h3><i class="fa fa-angle-right"></i> {{ entry.title|raw }}</h3>
            <div class="row mt">
                <div class="col-lg-12">
                    {{ entry.content | raw }}
                </div>
            </div>
        </section>
    </section>

{% endblock %}
