<label class="entry-checkbox">
    <input type="checkbox" form="form_mass_action" class="entry-checkbox-input" name="entry-checkbox[]" value="{{ entry.id }}" data-batch-edit-target="item" />
</label>
