{% extends "WallabagCoreBundle::layout.html.twig" %}

{% block title %}{% trans %}Developer{% endtrans %}{% endblock %}

{% block content %}

    <a href="{{ path('create_client') }}">Create a new client</a>

{% endblock %}
