{% extends "WallabagCoreBundle::layout.html.twig" %}

{% block title %}{% trans %}Developer{% endtrans %}{% endblock %}

{% block content %}
<div class="row">
    <div class="col s12">
        <div class="card-panel settings">

            <div class="row">
                <h3>Welcome to the wallabag API</h3>

                <h4>Documentation</h4>

                <ul>
                    <li><a href="{{ path('howto-firstapp') }}">How to create my first application</a></li>
                    <li><a href="{{ path('nelmio_api_doc_index') }}">View full API documentation</a></li>
                </ul>

                <h4>My clients</h4>
                <ul>
                    <li><a href="{{ path('create_client') }}">Create a new client</a></li>
                </ul>

            </div>

        </div>
    </div>
</div>


{% endblock %}
