{% block pager %}
    <div class="results">
        <div class="nb-results">{{ 'entry.list.number_on_the_page'|transchoice(entries.count) }}</div>
        <div class="pagination">
            <i class="btn-clickable download-btn material-icons md-36">file_download</i>
            <i class="btn-clickable filter-btn material-icons md-36">filter_list</i>
            {% if entries.getNbPages > 1 %}
                {{ pagerfanta(entries, 'twitter_bootstrap_translated', {'proximity': 1}) }}
            {% endif %}
        </div>
    </div>
{% endblock %}
