{% extends layout %}

{% block content %}
<h2>{{ 'entry.add'|trans }}</h2>

<form action="#" method="post">
    {{ form_widget(form) }}

    <input type="submit" name="submit" />
</form>
{% endblock %}