{% extends layout %}

{% block content %}

<form action="#" method="post">
    {{ form_widget(form) }}

    <input type="submit" name="submit" />
</form>
<p><a href="/">back to home</a></p>
{% endblock %}