{% extends layout %}
{% block title %}bookmarks{% endblock %}

{% block content %}
{% if entries is empty %}
<div class="alert alert-info">{{ 'No link available here!'|trans }}</div>
{% else %}
    <section id="listing" class="items">
    {% for entry in entries %}
        {% include "_entry.twig" %}
    {% endfor %}
    </section>

{% endif %}

{% endblock %}
