<!doctype html>
<!--[if lte IE 6]><html class="no-js ie6 ie67 ie678" lang="en"><![endif]-->
<!--[if lte IE 7]><html class="no-js ie7 ie67 ie678" lang="en"><![endif]-->
<!--[if IE 8]><html class="no-js ie8 ie678" lang="en"><![endif]-->
<!--[if gt IE 8]><html class="no-js" lang="en"><![endif]-->
<html dir="ltr" lang="en">
    <head>
        <meta name="viewport" content="initial-scale=1.0">
        <meta charset="utf-8">
        <!--[if IE]>
        <meta http-equiv="X-UA-Compatible" content="IE=10">
        <![endif]-->
        <title>{% block title %}{% endblock %} – wallabag</title>
        <link rel="stylesheet" href="/assets/css/reset.css" media="all">
        <link rel="stylesheet" href="/assets/css/tinytypo.css" media="all">
        <link rel="stylesheet" href="/assets/css/typo.css" media="all">
        <link rel="stylesheet" href="/assets/css/custom.css" media="all">
        <script src="/assets/js/app.js"></script>
        <script src="/assets/js/event.js"></script>
        <script src="/assets/js/item.js"></script>
        <script src="/assets/js/nav.js"></script>
    </head>
    <body>
        <div id="main" class="page">
            <main role="main">
                <div id="content">
            {% if is_granted('ROLE_USER') %}

                {% include '_top.twig' %}
                {% include '_alerts.twig' %}
                {% block content %}{% endblock %}

            {% else %}
                {% include '_login.twig' %}

            {% endif %}
            
                </div>
            </main>

        {% include '_footer.twig' %}
        </div>
    </body>
</html>