<!DOCTYPE html>
<!--[if lte IE 6]><html class="no-js ie6 ie67 ie678" lang="en"><![endif]-->
<!--[if lte IE 7]><html class="no-js ie7 ie67 ie678" lang="en"><![endif]-->
<!--[if IE 8]><html class="no-js ie8 ie678" lang="en"><![endif]-->
<!--[if gt IE 8]><html class="no-js" lang="en"><![endif]-->
<html lang="en">
    <head>
        <meta name="viewport" content="initial-scale=1.0">
        <meta charset="utf-8">
        <!--[if IE]>
        <meta http-equiv="X-UA-Compatible" content="IE=10">
        <![endif]-->
        <title>{% block title %}{% endblock %} – poche</title>
        <link rel="stylesheet" href="/assets/css/knacss.css" media="all">
        <link rel="stylesheet" href="/assets/css/style.css" media="all">
    </head>
    <body>
{% include '_top.twig' %}
        <div id="main">
            <div id="content" class="w600p center">
            {% include "_menu.twig" %}
            {% include '_alerts.twig' %}
            {% block content %}{% endblock %}
            </div>
        </div>
{% include '_footer.twig' %}
    </body>
</html>