body {
    font-size: 16px;
    font-family: 'Roboto', Verdana, Geneva, sans-serif;
    margin: 10px;
    color: #000;
}

header {
    text-align: center;
}

header h1 {
    font-size: 1.3em;
}

a, a:hover, a:visited {
    color: #000;
}

.bouton {
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 2px;
}
.bouton:hover {
    background-color: #222;
    color: #f1f1f1;
    cursor: pointer;
}

#main {
    margin: 0 auto;
}

#main #links {
    padding: 0;
    list-style-type: none;
    text-align: center;
    font-size: 0.9em;
}

#main #links li {
    display: inline;
}

#main #links li .current {
    background-color: #000;
    color: #fff;
    -webkit-border-radius: 2px;
    border-radius: 2px;
}

#main #sort {
    padding: 0;
    list-style-type: none;
    text-align: center;
    opacity: 0.5;
}

#main #sort li {
    display: inline;
    font-size: 0.9em;
}

#main #sort img:hover {
    cursor: pointer;
}

#links a {
    text-decoration: none;
    padding: 5px 10px;
}
#links a:hover {
    background-color: #040707;
    color: #F1F1F1;
    -webkit-border-radius: 2px;
    border-radius: 2px;
}

/*** ***/
/*** LINKS DISPLAY ***/

#main .tool {
    text-decoration: none;
    cursor: pointer;
}

#main #content {
    margin-top: 20px;
}

#main #content h2 {
    font-size: 1.3em;
    text-decoration: none;
}

#main #content .entrie {
    border-bottom: 1px dashed #222;
}

#main .entrie .tools {
    list-style-type: none;
}

/*
#main .entrie .tools li {
    display: inline;
}
*/

.tools {
    float: right;
    text-align: right;
    opacity: 0.5;
}

.tools p {
    font-size: 0.8em;
}

/*
.tools ul {
    padding: 0; margin: 0;
    list-style-type: none;
}

.tools ul li {
    line-height: 20px;
}

.tools .tool {
    cursor: pointer;
}*/

#main .entrie .tools .tool span, #article .tools .tool span {
    display: inline-block;
    width: 16px;
    height: 16px;
    /* Hide textual content */
    text-indent: -9999px;
    text-align: left;
    overflow: hidden;
}


/*** ***/
/*** ARTICLE PAGE ***/

#article {
    margin: 0 auto;
}
#article header {
    text-align: left;
}

#article header a {
    text-decoration: none;
}

.vieworiginal a, .vieworiginal a:hover, .vieworiginal a:visited {
    text-decoration: none;
    color: #888;
}

.backhome {
    display: inline;
}

#article .tools {
    position: relative;
    display: inline;
    top: 0;
    right: 0;
    width: 100%;
}

#article .tools ul li {
    display: inline;
}


/*** ***/
/*** ARTICLE PAGE ***/

#article header, #article article {
    border-bottom: 1px solid #222;
}


/* Pagination */
.pagination {
    clear: both;
    padding-bottom: 20px;
    padding-top: 10px;
    text-align: right;
}
.pagination a {
    border: 1px solid #d5d5d5;
    color: #333;
    font-size: 11px;
    font-weight: bold;
    height: 25px;
    padding: 4px 8px;
    text-decoration: none;
    margin: 2px;
}
.pagination a:hover, .pagination a:active {
    background-color: #efefef;
}
.pagination .current {
    background-color: #ccc;
    border: 1px solid #d5d5d5;
    color: #000;
    font-size: 11px;
    font-weight: bold;
    height: 25px;
    padding: 4px 8px;
    text-decoration: none;
    margin: 2px;
}
.pagination .disabled {
    border: 1px solid #eee;
    color: #ddd;
    margin: 2px;
    padding: 4px 8px;
    font-size: 11px;
    font-weight: bold;
}

footer {
    clear: both;
}

.reading-time {
    font-size: 0.8em;
}
