a.back span {
    background: url('../img/light/left.png');
}

a.top span {
    background: url('../img/light/top.png');
}

a.fav span {
    background: url('../img/light/star-on.png');
}
a.fav span:hover {
    background: url('../img/light/star-off.png');
}

a.fav-off span {
    background: url('../img/light/star-off.png');
}
a.fav-off span:hover {
    background: url('../img/light/star-on.png');
}

a.archive span {
    background: url('../img/light/checkmark-on.png');
}
a.archive span:hover {
    background: url('../img/light/checkmark-off.png');
}

a.archive-off span {
    background: url('../img/light/checkmark-off.png');
}
a.archive-off span:hover {
    background: url('../img/light/checkmark-on.png');
}

a.twitter span {
    background: url('../img/light/twitter.png');
}

a.shaarli span {
    background: url('../img/light/shaarli.png');
}

a.flattr span {
    background: url('../img/light/flattr.png');
}

a.email span {
    background: url('../img/light/envelop.png');
}

a.delete span {
    background: url('../img/light/remove.png');
}