
a.back span {
    background: url('../img/light/left.png') no-repeat;
}

a.top span {
    background: url('../img/light/top.png') no-repeat;
}


a.fav span {
    background: url('../img/light/star-on.png') no-repeat;
}

a.fav span:hover {
    background: url('../img/light/star-off.png') no-repeat;
}

a.fav-off span {
    background: url('../img/light/star-off.png') no-repeat;
}

a.fav-off span:hover {
    background: url('../img/light/star-on.png') no-repeat;
}

a.archive span {
    background: url('../img/light/checkmark-on.png') no-repeat;
}

a.archive span:hover {
    background: url('../img/light/checkmark-off.png') no-repeat;
}

a.archive-off span {
    background: url('../img/light/checkmark-off.png') no-repeat;
}

a.archive-off span:hover {
    background: url('../img/light/checkmark-on.png') no-repeat;
}

a.twitter span {
    background: url('../img/light/twitter.png') no-repeat;
}

a.shaarli span {
    background: url('../img/light/shaarli.png') no-repeat;
}

a.email span {
    background: url('../img/light/envelop.png') no-repeat;
}

a.delete span {
    background: url('../img/light/remove.png') no-repeat;
}