body {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    margin: 10px;
}

header {
    text-align: center;
}

header h1 {
    font-size: 1.3em;
}

.bouton {
	border-radius: 2px;
}

#main {
    margin: 0 auto;
}

#main ul#links {
    padding: 0;
    list-style-type: none;
    text-align: center;
    font-size: 0.9em;
}

#main ul#links li {
    display: inline;
}

#main ul#links li a.current {
    -webkit-border-radius: 2px;
    border-radius: 2px;
}

#main ul#sort {
    padding: 0;
    list-style-type: none;
    text-align: center;
    opacity: 0.5;
}

#main ul#sort li {
    display: inline;
    font-size: 0.9em;
}

#main ul#sort img:hover {
    cursor: pointer;
}


#links a{
    text-decoration: none;
    padding: 5px 10px;
}
#links a:hover{
    -webkit-border-radius: 2px;
    border-radius: 2px;
}

/*** ***/
/*** LINKS DISPLAY ***/

#main a.tool {
    text-decoration: none;
    cursor: pointer;
}

#main #content {
    margin-top: 20px;
}

#main #content h2 {
    font-size: 1.3em;
    text-decoration: none;
}

#main #content .entrie {
    border-bottom: 1px dashed #222222;
}

#main .entrie ul.tools {
    list-style-type: none;
}

#main .entrie ul.tools li {
    /*display: inline;*/
}

.tools {
    float: right;
    text-align: right;
    opacity: 0.5;
}

.tools p {
    font-size: 0.8em;}

/*
.tools ul {
    padding: 0; margin: 0;
    list-style-type: none;
}

.tools ul li {
    line-height: 20px;
}

.tools a.tool {
    cursor: pointer;
}*/

#main .entrie .tools a.tool span, #article .tools a.tool span {
    display: inline-block;
    width: 16px;
    height: 16px;
}

/*** ***/
/*** ARTICLE PAGE ***/

#article {
    margin: 0 auto;
}
#article header {
    text-align: left;
}

#article header a {
    text-decoration: none;
}

.vieworiginal a, .vieworiginal a:hover, .vieworiginal a:visited {
    text-decoration: none;
    color: #888888;
}

.backhome {
    display: inline;
}

#article .tools {
    position: relative;
    display: inline;
    top: 0px;
    right: 0px;
    width: 100%;
}

#article .tools ul li{
    display: inline;
}


/*** GENERAL ***/
body {
    color: #000;
}

a, a:hover, a:visited {
    color: #000;
}

.bouton {
    background-color: #000;
    color: #fff;
    border: none;
}
.bouton:hover {
    background-color: #222222;
    color: #F1F1F1;
}

#main ul#links li a.current {
    background-color: #000;
    color: #fff;
}

#links a:hover{
    background-color: #040707;
    color: #F1F1F1;
}


/*** ***/
/*** ARTICLE PAGE ***/

#article header, #article article {
    border-bottom: 1px solid #222222;
}


/* Pagination */
.pagination {
    clear: both;
    padding-bottom: 20px;
    padding-top: 10px;
    text-align: right;
}
.pagination a {
    border: 1px solid #D5D5D5;
    color: #333;
    font-size: 11px;
    font-weight: bold;
    height: 25px;
    padding: 4px 8px;
    text-decoration: none;
    margin:2px;
}
.pagination a:hover, .pagination a:active {
    background:#efefef;
}
.pagination span.current {
    background-color: #ccc;
    border: 1px solid #D5D5D5;
    color: #000;
    font-size: 11px;
    font-weight: bold;
    height: 25px;
    padding: 4px 8px;
    text-decoration: none;
    margin:2px;
}
.pagination span.disabled {
    border: 1px solid #EEEEEE;
    color: #DDDDDD;
    margin:2px;
    padding: 4px 8px;
    font-size: 11px;
    font-weight: bold;
}

footer {
    clear: both;
}

.reading-time {
    font-size: 0.8em;
}