{% extends "WallabagCoreBundle::layout.html.twig" %}

{% block title %}{% trans %}Forgot password{% endtrans %}{% endblock %}

{% block body_class %}login{% endblock %}

{% block menu %}{% endblock %}

{% block content %}
    <form>
        <fieldset class="w500p center">
            <h2 class="mbs txtcenter">{% trans %}Forgot password{% endtrans %}</h2>

            <p>{{ 'An email has been sent to %email%. It contains a link you must click to reset your password.'|trans({'%email%': email}) }}</p>
        </fieldset>
    </form>
{% endblock %}
