{% trans_default_domain 'FOSUserBundle' %}

{% trans %}Enter your email address below and we'll send you password reset instructions.{% endtrans %}

{% if invalid_username is defined %}
    <p>{{ 'resetting.request.invalid_username'|trans({'%username%': invalid_username}) }}</p>
{% endif %}

<div class="row">
    <label for="username">{{ 'resetting.request.username'|trans }}</label>
    <input type="text" id="username" name="username" required="required" />
</div>

<div class="row mts txtcenter">
    <button type="submit">{{ 'resetting.request.submit'|trans }}</button>
    <a href="{{ path('fos_user_security_login') }}" class="button">{% trans %}Login{% endtrans %}</a>
</div>
