{% extends "@FOSUser/layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
<div class="card-content">
    <div class="row">
        {{ 'resetting.password_already_requested'|trans }}
    </div>
</div>
{% endblock fos_user_content %}
