{% if tag is defined %}
    <a rel="alternate" type="application/atom+xml" href="{{ path('tag_feed', {'username': app.user.username, 'token': app.user.config.feedToken, 'slug': tag.slug}) }}" class="right"><i class="material-icons md-24">rss_feed</i></a>
{% elseif current_route in ['homepage', 'unread', 'starred', 'archive', 'all'] %}
    {% set feed_route = current_route %}
    {% if current_route == 'homepage' %}
        {% set feed_route = 'unread' %}
    {% endif %}
    {% set feed_route = feed_route ~ '_feed' %}

    <a rel="alternate" type="application/atom+xml" href="{{ path(feed_route, {'username': app.user.username, 'token': app.user.config.feedToken}) }}" class="right"><i class="material-icons">rss_feed</i></a>
{% endif %}
