{% if tag is defined %}
    <a rel="alternate" type="application/rss+xml" href="{{ path('tag_rss', {'username': app.user.username, 'token': app.user.config.rssToken, 'slug': tag.slug}) }}" class="right"><i class="material-icons md-24">rss_feed</i></a>
{% elseif currentRoute in ['homepage', 'unread', 'starred', 'archive', 'all'] %}
    {% set rssRoute = currentRoute %}
    {% if currentRoute == 'homepage' %}
        {% set rssRoute = 'unread' %}
    {% endif %}
    {% set rssRoute = rssRoute ~ '_rss' %}

    <a rel="alternate" type="application/rss+xml" href="{{ path(rssRoute, {'username': app.user.username, 'token': app.user.config.rssToken}) }}" class="right"><i class="material-icons">rss_feed</i></a>
{% endif %}
