            <ul id="links">
                <li><a href="./" {% if view == 'home' %}class="current"{% endif %}>{% trans "home" %}</a></li>
                <li><a href="./?view=fav" {% if view == 'fav' %}class="current"{% endif %}>{% trans "favorites" %}</a></li>
                <li><a href="./?view=archive" {% if view == 'archive' %}class="current"{% endif %}>{% trans "archive" %}</a></li>
                <li><a href="./?view=config" {% if view == 'config' %}class="current"{% endif %}>{% trans "config" %}</a></li>
                <li><a href="./?logout" title="{% trans "logout" %}">{% trans "logout" %}</a></li>
            	<li><a id="addurlbutton" onclick="showinput();" href="#" title="{% trans "addlink" %}">{% trans "addlink" %}</a></li>
	            <li><a href="./?logout" title="{% trans "logout" %}">{% trans "logout" %}</a></li>
	       	</ul>
           	<div id="inputform">
               	<form method="get" action="index.php">
            			<label class="addurl" for="plainurl">Entrez ici votre URL</label><br />
                		<input autofocus required placeholder="Ex:monsite.net/article" class="addurl" id="plainurl" name="plainurl" type="url" />
                		<input type="submit" value="Envoyer" />
            		</form>
               </div>