        <footer class="w600p center mt3 mb3 smaller txtright">
            <p>{% trans "powered by" %} <a href="http://wallabag.org">wallabag</a></p>
            {% if constant('DEBUG_POCHE') == 1 %}<p><strong>{% trans "debug mode is on so cache is off." %} {% trans "your wallabag version:" %}{{constant('POCHE')}}. {% trans "storage:" %} {{constant('STORAGE')}}</strong></p>{% endif %}
        </footer>