{% extends "layout.twig" %}
{% block title %}{% trans "plop" %}{% endblock %}
{% block content %}
    <h1>Errors</h1>
    <ol>
        {% for message in msg %}
            <li>{{message}}</li>
        {% endfor %}
    </ol>
    <p>Don't forget <a href="http://doc.inthepoche.com/">the documentation</a>.</p>
{% endblock %}
