{% extends "layout.twig" %}
{% block title %}{% trans "plop" %}{% endblock %}
{% block content %}
        {{ msg|raw }}
        <p>Don't forget <a href="http://inthepoche.com/doc">the documentation</a>.</p>
{% endblock %}