name: "Translations"

on:
  pull_request:
  push:
    branches:
      - master
      - "2.**"

permissions:
  contents: read

jobs:
  translations:
    name: "Translations"
    runs-on: ubuntu-latest

    strategy:
      matrix:
        php:
          - "8.2"

    steps:
      - name: "Checkout"
        uses: "actions/checkout@v4"

      - name: "Install PHP"
        uses: "shivammathur/setup-php@v2"
        with:
          coverage: "none"
          php-version: "${{ matrix.php }}"
          tools: pecl
          extensions: pdo, pdo_mysql, pdo_sqlite, pdo_pgsql, curl, imagick, pgsql, gd, tidy
          ini-values: "date.timezone=Europe/Paris"
        env:
          COMPOSER_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: "Install dependencies with Composer"
        uses: "ramsey/composer-install@v3"
        with:
          composer-options: "--optimize-autoloader --prefer-dist"

      - name: "Validate translations"
        run: "php bin/console lint:yaml translations -v"
